#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
/ {
    keymap {
        compatible = "zmk,keymap";
default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    L    |    K    |    J    |  SPACE  | 
// |    C    |    S    |    Z    |    Y    |   
// |    X    |    C    |    V    |    D    |    
// |    V    |    X    |    E    |    B    |
            bindings = <
    &kp L       &mt LCMD K  &mt LCMD J   &kp SPACE         
    &kp C       &kp S       &mt LCMD Z   &mt LCMD Y         
    &mt LCMD X  &mt LCMD C  &mt LCMD V   &mt LCMD D        
    &kp V       &kp X       &kp E        &kp B             
            >;

           
        };
    };
};
